header {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 7rem;
    width: 99%;
    background-color: rgb(65, 62, 62);
    padding: 0 2rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
